html, body{
    min-width: 400px;
    min-height: 350px;
}

.screen.hidden{
    display: none;
}

.screen{
    display: flex;
    align-items: center;
    flex-direction: column;
}

button{
    margin-top: 3em;
    min-width: 20em;
    border-radius: 100px;
    border-width: 0;
    color: white;
    height: 3em;
}

button:hover{
    border-width: 1px;
}

button.search-btn{
    min-width: 5em;
    background-color: #ff5d5dff;
}

button.search-btn:hover{
    background-color: white;
    color: #ff5d5dff;
    border-color: #ff5d5dff;
}

button.back-btn{
    background-color: #ff5d5dff;
}

button.back-btn:hover{
    color: #ff5d5dff;
    border-color: #ff5d5dff;
    background-color: white;
}

button.add-syllabus-btn{
    background-color: #ff7e00ff;
}

button.add-syllabus-btn:hover{
    color: #ff7e00ff;
    border-color: #ff7e00ff;
    background-color: white;
}

#see-syllabus-btn{
    background-color: #4a86e8ff;
}

#see-syllabus-btn:hover{
    color: #4a86e8ff;
    border-color: #4a86e8ff;
    background-color: white;
}

#quick-info-btn{
    background-color: #28c928ff;
}

#quick-info-btn:hover{
    color: #28c928ff;
    border-color: #28c928ff;
    background-color: white;
}

input.search-input{
    min-width: 14em;
    background-color: #efefefff;
    height: 3em;
    padding-left: .5em;
}

input.file-input{
    display: none;
}

input{
    border-radius: 100px;
    border-width: 0;
}

label.file-input-label{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

label{
    margin-top: 3em;
}