.screen.hidden{
    display: none;
}

.screen{
    display: flex;
    align-items: center;
    flex-direction: column;
}

button{
    margin-top: 1em;
    min-width: 20em;
    border-radius: 100px;
    border-width: 0px;
}

button.searchBtn{
    min-width: 5em;
}

input.searchInput{
    min-width: 14em;
}

input{
    border-radius: 100px;
    border-width: 0px;
}