.screen.hidden{
    display: none;
}

.screen{
    display: flex;
    align-items: center;
    flex-direction: column;
}

button{
    margin-top: 1em;
    min-width: 20em;
}

button.searchBtn{
    min-width: unset;
}