name: Python application

on:
  push:
    branches: [ "main", "backend" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        pip install -r src/backend/requirements.txt
        
    - name: Test with pytest
      env:
          ANTHROPIC_API_KEY: "test-key-placeholder"
          DEBUG_FLAG: "False"
      run: |
        cd src/backend
        pytest tests/ -v
